{% extends "base.html" %}

{% block content %}
<div class="container-avatar">
<link rel="stylesheet" href="{% static 'change-avatar.css'%}">
    <div class="avatar-form">
        <h2>Change Avatar</h2>
        <form method="post" enctype="multipart/form-data" style="background-image: url('{{ user.avatar.url }}');
                background-size:10%; background-repeat: no-repeat,repeat; background-position-x: 30% ;
                background-position-y: 5%" >
            {% csrf_token %}
            {{ form.as_p }}

            <button class = "avatar-button" type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock %}