.container-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    max-width: 50%;
    min-width: 15%;
    width: 30%;

}

.avatar-form{

    /*margin-top:10%;*/
    color: black;
    background-color: #55BAE7;
    border: 1px solid #55BAE7;
    border-radius: 20px;
    padding: 7%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*align-items: center;*/
    max-width: 100%;
    min-width: 60%;
    width: 80%;
    flex-wrap: wrap;
}

.avatar-button{
    display: flex;
    width: 50%;
    margin-left: 10%;
    justify-content: center;
    background-color: #E63453;
    border: 1px solid #E63453;
    border-radius: 20px;
}

.avatar-button:hover{
    background-color: #ee6779;
}

a{
}

h2 {
    max-width: 100%;
    margin-left: 20%;
}

