.footer {
    background-color: #252423;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    text-decoration: none;
    color: #55b9e6;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #e53453;
}

/* Media Queries dla responsywności */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        gap: 10px;
    }
}
