body {
    background-color: #9A9999;
    color: #FFFFFF;
}
.user-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin: 10px;
}
.logo-container img{
    width: 50%;
    height: 20%;
    padding: 5%;
    margin-left: 3%;
}
.logo-container a{
    margin-right: 3%;
}
.nav-bar{
    background-color: #252423;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.logo-container{
    width: 20%;
}
.login{
    width: 20%;
    display: flex;
    justify-content: right;
    margin-right: 3%;
}
.search-container{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
#search {
    height: 34px;
    width: 50%;
    border: none;
    border-radius: 25px;
    outline: none;
    background-repeat: no-repeat;
    background-position: 95% center;
    padding-left: 2%;
}

input[type="search"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.search-button {
    width: 32px;
    height: 32px;
    background-color: #55b9e6;
    background-image: url('./images/loupe.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    margin-left: -33px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:focus {
    background-color: #e53453;
}
.login-button {
    display: inherit;
    padding: 5px 12px 5px 5px;
    background-color: #55b9e6;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #e53453;
    text-decoration: none;
    color: #fdfdfd;
}
.account-button {
    width: 40px;
    height: 40px;
    background-image: url('./images/avatar.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    color: black;
    background-color: #55BAE7;
    margin-top:10%;
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    min-width: 50%;
    width: 100%;
    border: 1px solid #55BAE7;
    border-radius: 20px;
}
.submit-button{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    justify-content: center;
    background-color: #E63453;
    border: 1px solid #E63453;
    border-radius: 20px;
}
.submit-button:hover{
    background-color: #ee6779;
}
.login-form form {
    max-width: 100%;
    margin: 0 auto;
}

.login-form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.login-form label {
    margin-bottom: 5px;
}

.login-form input {
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.mt-1 a{
    text-decoration: none;
    color: #000;
}
.mt-1 a:hover{
    color: #252423;
}
.mt-3 a:hover{
    color: #252423;
}
.mt-3 a{
    text-decoration: none;
    color: #000;
}
.videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-bottom: 50px;*/
}
.video-container {
    background-color: #857f7f;
    padding: .5em;
}
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    padding: 10px;
    margin-top: 10px;
    background-color: #6b6969;
    border-radius: 5px;
    box-shadow: 3px 3px 4px 2px #34728d;
}

.avatar_user_videos {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.author {
    margin-left: .1em;
    margin-top: 20px;
    font-size: 1.7em;
    font-weight: bold;

}

.video-container {
    background-color: #807e7b;
    padding: 10px;
}
.title-video{
    text-shadow: 2px 1px 4px black;
    text-decoration: none;
    color: #fdfdfd;
}
.title-video:hover{
    text-decoration: none;
    color: #fdfdfd;
}