<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dostępne ramki</title>
</head>
<body>
    <h1>Dostępne ramki</h1>
    {% for frame in frames %}
    <div>
        <h2>{{ frame.frame_name }}</h2>
        <img src="{{ frame.frame_url.url }}" alt="Obrazek ramki" style="max-width: 300px;"/>
        <p>Cena: {{ frame.price }} PLN</p>
        <form action="{% url 'buy_frame' frame.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="buy-now-button">Kup teraz</button>
        </form>
    </div>
    {% endfor %}
</body>
</html>
