<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Videos</title>
</head>
<body>
    <h1>All Videos</h1>
    <ul>
        {% for video in videos %}
            <li>
                <strong>Title:</strong> {{ video.title }} <br>
                <strong>Uploaded at:</strong> {{ video.uploaded_at }} <br>
                <strong>Video File:</strong> <a href="{{ video.video_file.url }}">{{ video.video_file.name }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
