{% extends "base.html" %}
{% load static%}

{% block title %}Wszystkie Video{% endblock %}

{% block content %}
<div class="div-filtr">
<form method="GET" action="" class="form-filtr">
    <label for="sort_by" >Sortuj według:</label>
    <select name="sort_by" id="sort_by" class="filtr-lista" >
        <option value="uploaded_at">Data dodania</option>
        <option value="views">Liczba wyświetleń</option>
        <option value="likes">Liczba polubień</option>
    </select>

    <label for="sort_order">Kolejność sortowania:</label>
    <select name="sort_order" id="sort_order" class="filtr-lista">
        <option value="desc">Malejąco</option>
        <option value="asc">Rosnąco</option>
    </select>

    <button type="submit" class="filtr-button">Sortuj</button>
</form>
</div>
<div class="videos">
    {% for video in videos %}
    <div class="video-container">
        <div class="user-info">
            <img src="{{ video.author.avatar.url }}" class="avatar_user_videos">
            <p class="author">{{ video.author.username }}</p>
        </div>
            <img src="{{ video.thumbnail.url }}" width="720" height="480">
        <h2>
            <a href="{{ video.get_absolute_url }}" class="title-video">{{ video.title }}</a>
        </h2>

    </div>
    {% endfor %}
</div>
{% include "pagination.html" with page=videos %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.like-button, .dislike-button').forEach(button => {
        button.addEventListener('click', function (e) {
            e.preventDefault();
            const videoId = this.dataset.videoId;
            const like = this.dataset.like === 'true';
            sendLikeDislikeRequest(videoId, like);
        });
    });

    function sendLikeDislikeRequest(videoId, like) {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch(`/like_dislike/video/${videoId}/${like ? 'like' : 'dislike'}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ 'like': like }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            document.querySelector(`#likes-count-${videoId}`).innerText = data.num_likes;
            document.querySelector(`#dislikes-count-${videoId}`).innerText = data.num_dislikes;
        })
        .catch(error => console.error('Error:', error));
    }
});
</script>
{% endblock %}
