{% extends "base.html" %}


{% block content %}
    <div class="liked-videos-container">
    <h1>Polubione filmy</h1>
        {% for like in liked_videos %}
            <div class="user-info-liked-videos"  >
                <img class="avatr-user-liked-videos" style="background-image: url('{{ user.avatar.url }}')">
                <p class="author-liked-videos">{{ video.author.username }}</p>
            </div>
            <a href="{{ like.video.get_absolute_url }}">
                <img class="liked-videos" src="{{ like.video.thumbnail.url }}">
            </a>
            <div class="under-video-liked">
                <a class="reflink" href="{{ like.video.get_absolute_url }}">{{ like.video.title }}</a>
            </div>

        {% endfor %}
    </div>
{% endblock %}