<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Strona główna{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css'%}">
</head>
<body>
    <nav class="nav-bar">
        <div class="logo-container">
             <a class="logo" href="{% url 'all_videos' %}"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
        </div>
        <div class="search-container">
            <input id="search" type="search" label="search-bar" placeholder="Szukaj">
            <button type="submit" class="search-button"></button>
        </div>
        <div class="login">
                {% if user.is_authenticated %}
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <!-- To jest przycisk avatr ktory wylogowuje, zamienic avatar pod user, rozwinać liste a nie wylogowywac -->
                            <button type="submit" class="account-button"></button>
                        </form>
                {% else %}

             <a href="{% url 'login' %}" class="login-button">
                <svg class="w-6 h-6 text-gray-800 dark:text-white inline-block align-middle" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                </svg>
                <span class="ml-2">Zaloguj</span>
             </a>
        </div>
                {% endif %}

    </nav>
        {% block content %}
    <div class="container">
    <div class="videos">
    {% for video in videos %}
    <div class="video-container">
        <div class="user-info">
            <img src="{% static 'images/avatar.png' %}" class="avatar_user_videos">
            <p class="author">{{ video.author.username }}</p>
        </div>
        <video width="720" height="480" controls>
            <source src="{{ video.video_file.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <h2>
            <a href="{{ video.get_absolute_url }}" class="title-video">{{ video.title }}</a>
        </h2>

    </div>
    {% endfor %}
</div>
{% include "pagination.html" with page=videos %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.like-button, .dislike-button').forEach(button => {
        button.addEventListener('click', function (e) {
            e.preventDefault();
            const videoId = this.dataset.videoId;
            const like = this.dataset.like === 'true';
            sendLikeDislikeRequest(videoId, like);
        });
    });

    function sendLikeDislikeRequest(videoId, like) {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch(`/like_dislike/video/${videoId}/${like ? 'like' : 'dislike'}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ 'like': like }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            document.querySelector(`#likes-count-${videoId}`).innerText = data.num_likes;
            document.querySelector(`#dislikes-count-${videoId}`).innerText = data.num_dislikes;
        })
        .catch(error => console.error('Error:', error));
    }
});
</script>
    </div>
        {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy4Ck4SOF4y4Ck4C2DgHfViXydVeLm+JDM" crossorigin="anonymous"></script>
</body>
</html>
