{% extends "base.html" %}
{% block title %}O nas{% endblock %}

{% block content %}
<div class="container">
    <div class="rules-content">
        <li>Zakazane treści</li>
        <p>
            Zabronione jest umieszczanie treści, która narusza prawa autorskie,
            zawiera nielegalne treści, przemoc, nienawiść, treści pornograficzne lub inne treści obraźliwe.
        </p>
        <li>Ochrona prywatności</li>
        <p>
            Zabronione jest publikowanie prywatnych informacji osób trzecich
            bez ich zgody, w tym adresów zamieszkania, numerów telefonów, adresów e-mail itp.
        </p>
        <li>Zakazane praktyki</li>
        <p>
            Zabronione jest stosowanie oszustw, manipulacji lub innych nieuczciwych
            praktyk w celu osiągnięcia większej liczby wyświetleń, subskrypcji lub polubień.
        </p>
        <li>Komentarze</li>
        <p>
           Zabronione jest umieszczanie obraźliwych, nienawistnych lub agresywnych komentarzy.
            Wszystkie komentarze powinny być konstruktywne i szanować innych użytkowników.
        </p>
        <li>Zachowanie zgodne z prawem</li>
        <p>
            Użytkownicy są zobowiązani do przestrzegania wszystkich obowiązujących przepisów prawa,
            w tym prawa autorskiego, prawa do prywatności i innych.
        </p>
        <li>Zarządzanie kontem</li>
        <p>
             Każdy użytkownik jest odpowiedzialny za swoje konto i musi zachować swoje dane logowania
            w tajemnicy. Nie wolno udostępniać konta innym osobom bez zgody właściciela konta.
        </p>
        <li>Zgłaszanie naruszeń</li>
        <p>
            Użytkownicy powinni zgłaszać wszelkie naruszenia zasad lub treści, które uważają za nieodpowiednie. Platforma będzie podejmować odpowiednie działania wobec takich naruszeń.
        </p>
        <li>Sankcje za naruszenia</li>
        <p>
            Platforma zastrzega sobie prawo do nałożenia sankcji na użytkowników, którzy łamią zasady, w tym blokady konta, ograniczenia funkcji lub usunięcie treści.
        </p>
        <li>Kodeks postępowania społeczności</li>
        <p> Użytkownicy powinni stosować się do zasad dobrego zachowania i szanować innych uczestników społeczności.</p>
        <li>Dostosowanie zasad</li>
        <p>Platforma zastrzega sobie prawo do zmiany zasad w dowolnym momencie. Użytkownicy powinni regularnie sprawdzać zasady, aby być świadomym ewentualnych zmian.</p>
    </div>
</div>
{% endblock %}